body {
    font-family: Arial, sans-serif;
}
.reg-container {
    padding: 0 30px;
    width: 100%;
}
.login-container {
    padding: 100px 30px;
    width: 100%;
}
.form-signin-heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
    color: #42b883;
}
.form-signin p {
    text-align: center;
    color: #42b883;
}
.form-control {
    width: 450px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
.form-control-select {
    width: 475px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
.form-control:focus {
    border-color: #42b883;
    outline: none;
}
select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #555;
}
.btn-container {
    text-align: center;
}
.btn {
    margin: 25px 0;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #42b883;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover {
    background-color: #42b883;
}
.btn:focus {
    outline: none;
}
a {
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.bottom_btns {
    margin-right: 300px;
}
.right-corner-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.successMessage {
    display: block;
    color: green;
    text-align: center;
    margin-bottom: 10px;
}

.errorMessage {
    display: block;
    color: red;
    text-align: center;
    margin-bottom: 10px;
}