<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Change Password</title>
  <link rel="stylesheet" href="/css/update.css">
</head>

<body>

<nav class="navbar">
  <div class="logo">Reservelt</div>
  <div class="nav-links">
    <a href="/restaurants/search">Search Restaurants</a>
    <a href="/restaurants/my-reservations">My Reservations</a>
    <a href="/users">Profile</a>
    <a href="/users/edit" class="btn btn-warning">Edit Account</a>
    <a href="/auth/logout">Log out</a>
  </div>
</nav>

<div class="container">
  <form class="form-signin" method="post" action="/users/change-password">
    <h2>Change Password</h2>
    <span th:text="${success}" style="color: green;"></span>
    <span th:text="${failed}" style="color: red;"></span>
    <p>
      <label for="current_password">Current Password</label>
      <input type="password" id="current_password" name="currentPassword" class="form-control" placeholder="Current Password" required>
    </p>
    <p>
      <label for="new_password">New Password</label>
      <input type="password" id="new_password" name="newPassword" class="form-control" placeholder="New Password" required>
    </p>
    <p>
      <label for="new_password_confirmation">New Password Confirmation</label>
      <input type="password" id="new_password_confirmation" name="newPasswordConfirmation" class="form-control" placeholder="New Password Confirmation" required>
    </p>
    <div class="btn-container">
      <button class="btn btn-primary" type="submit">Change</button>
      <a href="/users" class="btn btn-warning">Cancel</a>
    </div>
  </form>
</div>

</body>
</html>
