<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="Content-Type" content="application/x-www-form-urlencoded"/>
  <title>Change password</title>
  <link rel="stylesheet" href="/css/register.css">
</head>

<body>
<div class="container">
  <div class="right-corner-btn">
    <a href="/restaurants/search" class="btn btn-success mb-3">Search Restaurants</a>
    <a href="/restaurants/my-reservations" class="btn btn-warning">My Reservations</a>
  </div>
  <form class="form-signin" method="post" action="/users/change-password">
    <h2 class="form-signin-heading">Change password</h2>
    <span th:text="${success}"></span>
    <span th:text="${failed}"></span>
    <p>
      <label for="current_password" class="sr-only">Current Password</label>
      <input type="password" id="current_password" name="currentPassword" class="form-control" placeholder="Current Password" required>
    </p>
    <p>
      <label for="new_password" class="sr-only">New Password</label>
      <input type="password" id="new_password" name="newPassword" class="form-control" placeholder="New Password" required>
    </p>
    <p>
      <label for="new_password_confirmation" class="sr-only">New Password Confirmation</label>
      <input type="password" id="new_password_confirmation" name="newPasswordConfirmation" class="form-control" placeholder="New Password Confirmation" required>
    </p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Change</button>
    <a href="/users" class="btn btn-warning">Cancel</a>
  </form>
</div>
</body>

</html>