<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="Content-Type" content="application/x-www-form-urlencoded"/>
  <title>Login</title>
  <link rel="stylesheet" href="/css/register.css">
</head>

<body>
<div class="login-container">
  <div class="right-corner-btn">
    <a href="/restaurants/search" class="btn btn-success mb-3">Search Restaurants</a>
  </div>
  <form class="form-signin" method="post" action="/auth/login">
    <h2 class="form-signin-heading">Login</h2>
    <div th:if="${session.errorMessage}">
      <p th:text="${session.errorMessage}" class="errorMessage"></p>
    </div>
    <span th:text="${success}" class="successMessage"></span>
    <span th:text="${failed}" class="errorMessage"></span>
    <p>
      <label for="username" class="sr-only">Email</label>
      <input type="text" id="username" name="email" class="form-control" placeholder="Email" required autofocus>
    </p>
    <p>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    </p>
    <div class="btn-container">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button><br>
    </div>
    <div class="bottom_btns">
      <p><a href="/auth/register">Do you want to register?</a></p>
    </div>
  </form>
</div>

<script>
  if (sessionStorage.getItem('errorMessageDisplayed') !== 'true') {
    sessionStorage.setItem('errorMessageDisplayed', 'true');
  } else {
    document.querySelector('div[th\\:if="${session.errorMessage}"]').style.display = 'none';
  }
</script>

</body>

</html>