<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Profile</title>
  <link rel="stylesheet" href="/css/profile.css">
</head>
<body>

<nav class="navbar">
  <div class="logo">Reservelt</div>
  <div class="nav-links">
    <a href="/restaurants/search">Search Restaurants</a>
    <a href="/restaurants/my-reservations">My Reservations</a>
    <a href="/users/edit">Edit Account</a>
    <a href="/users/change-password">Change Password</a>
    <form method="get" action="/auth/logout" style="display: inline;">
      <button type="submit" class="logout-btn">Log out</button>
    </form>
    <button id="openDeleteModalBtn" class="logout-btn">Delete Account</button>
  </div>
</nav>

<div class="container">
  <div class="user-data">
    <h2 th:text="${greeting}"></h2>
    <div th:each="u : ${user}">
      <div th:if="${session.errorMessage}">
        <p th:text="${session.errorMessage}" style="color: red;"></p>
      </div>
      <table>
        <tr>
          <th>First Name</th>
          <td><p th:text="${u.firstName}"></p></td>
        </tr>
        <tr>
          <th>Last Name</th>
          <td><p th:text="${u.lastName}"></p></td>
        </tr>
        <tr>
          <th>Birth Date</th>
          <td><p th:text="${u.birthDate}"></p></td>
        </tr>
        <tr>
          <th>Email</th>
          <td><p th:text="${u.email}"></p></td>
        </tr>
        <tr>
          <th>Country</th>
          <td><p th:text="${u.country.name}"></p></td>
        </tr>
        <tr>
          <th>City</th>
          <td><p th:text="${u.city.name}"></p></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div id="deleteAccountModal" class="modal">
  <div class="modal-content">
    <h4>Are you sure?</h4>
    <p>Do you really want to delete your account? This action cannot be undone.</p>
    <form th:action="@{/users/delete}" method="post">
      <button type="submit" class="btn btn-danger">Yes, Delete</button>
      <button type="button" id="cancelDeleteBtn" class="btn btn-secondary">Cancel</button>
    </form>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const deleteAccountModal = document.getElementById('deleteAccountModal');
    const cancelDeleteBtn = document.getElementById('cancelDeleteBtn');

    function openModal() {
      deleteAccountModal.style.display = 'block';
    }

    function closeModal() {
      deleteAccountModal.style.display = 'none';
    }

    document.getElementById('openDeleteModalBtn')?.addEventListener('click', openModal);

    cancelDeleteBtn.addEventListener('click', closeModal);

    window.onclick = function (event) {
      if (event.target === deleteAccountModal) {
        closeModal();
      }
    };
  });
</script>

</body>
</html>
